
*.avi
*.mp4
*.jpg
*.pfsx
*.wav
*.xdf


/00_RAWDATA/0_1
/00_RAWDATA/0_2
/00_RAWDATA/Process_demographics.ipynb
/00_RAWDATA/Demographics_all

01_XDF_processing/data/Data_processed/CsvDataTS_raw

02_MotionTracking_processing/openpose/bin
02_MotionTracking_processing/projectdata
02_MotionTracking_processing/Pose2Sim
*.caffemodel

/Miscellaneous
/.quarto/
/shign
/To_discuss

/05_finalMerge

/00_raw
/01_XDF_processing/data/Data_processed/Data_trials
01_XDF_processing/data/Data_processed
02_MotionTracking_processing/misc
02_MotionTracking_processing/.vscode/settings.json

02_MotionTracking_processing/Pose2Sim
/04_TS_movementAnnotation
/04_TS_soundAnnotation
/08_Analysis_XGBoost
/08_Analysis_Modeling/Effort_Bayesian_files
/01_XDF_processing/xdf_workflow_final_files - Copy
/Doc_tracking

**/*.quarto_ipynb
/Manuscript
04_ConceptSimilarity/numberbatch/numberbatch.txt
/06_Analysis_Modeling/models
/03_TS_processing/TS_acoustics
/03_TS_processing/TS_merged
/03_TS_processing/TS_motiontracking
/02_MotionTracking_processing/03_Track_pose2sim_OpenSim_files
/03_TS_processing/01_TS_processing_motion_files
/03_TS_processing/02_TS_processing_acoustics_files
/03_TS_processing/03_TS_merging_files
/04_ConceptSimilarity/ConceptNet_similarity_files
/05_TS_featureExtraction/00_Condition_adherence_files
/05_TS_featureExtraction/01_TS_extraction_files
/05_TS_featureExtraction/02_Explorations_and_viz_files
/docs
/site_libs
