
*.json
*.avi
/TS_processing/P0
*.mp4
/TS_processing/TS_merged
*.jpg
*.pfsx
/TS_processing/Audio
*.wav
03_ConceptSimilarity/numberbatch-en.txt
03_ConceptSimilarity/numberbatch.txt


/.quarto/
/01_TS_processing
/01_TS_processing
/01_TS_processing
/03_TS_processing
/04_TS_movementAnnotation
/09_Modeling
/08_XGBoost
/07_TS_featureExtraction
/05_finalMerge
/06_Modeling/models
/02_1_TS_movementClassification
/01_XDF_processing/data/Data_processed
06_ConceptSimilarity/numberbatch-en.txt
06_ConceptSimilarity/numberbatch.txt
06_ConceptSimilarity/numberbatch-en-19.08.txt.gz
*.xdf
