
*.avi
*.mp4
*.jpg
*.pfsx
*.wav
*.xdf


/00_RAWDATA/0_1
/00_RAWDATA/0_2
/00_RAWDATA/Process_demographics.ipynb
/00_RAWDATA/Demographics_all

01_XDF_processing/data/Data_processed/CsvDataTS_raw


*.caffemodel

/Miscellaneous
/.quarto/
/shign
/To_discuss

/00_raw

/01_XDF_processing/data/Data_processed/Data_trials/*.csv
/01_XDF_processing/data/Data_processed/Data_trials/*.avi
/01_XDF_processing/data/Data_processed/Data_trials/*.wav
/01_XDF_processing/data/Data_processed/Data_trials/Audio/*.wav
/01_XDF_processing/data/Data_processed/Data_trials/Audio_48/*.wav

02_MotionTracking_processing/Pose2Sim/__pycache__
02_MotionTracking_processing/Pose2Sim/Demo_Batch
02_MotionTracking_processing/Pose2Sim/Demo_MultiPerson
02_MotionTracking_processing/Pose2Sim/Demo_SinglePerson
02_MotionTracking_processing/Pose2Sim/Empty_project
02_MotionTracking_processing/Pose2Sim/MarkerAugmenter
02_MotionTracking_processing/Pose2Sim/S00_Demo_BatchSession
02_MotionTracking_processing/Pose2Sim/S01_Demo_SingleTrial
02_MotionTracking_processing/openpose/bin
02_MotionTracking_processing/projectdata/*/*/pose
02_MotionTracking_processing/projectdata/*/*/pose-2d-trackingvideos
02_MotionTracking_processing/projectdata/*/*/raw-2d
02_MotionTracking_processing/projectdata/*/opensim
02_MotionTracking_processing/projectdata/*/*/Config.toml
02_MotionTracking_processing/projectdata/*/*/*/*/*.png

/Doc_tracking

**/*.quarto_ipynb
04_ConceptSimilarity/numberbatch/numberbatch.txt
/06_Analysis_Modeling/models
/03_TS_processing/TS_acoustics
/03_TS_processing/TS_motiontracking
/03_TS_processing/TS_merged


/site_libs
*.ttf
05_TS_featureExtraction/helvetica-compressed-5871d14b6903a.otf
05_TS_featureExtraction/helvetica-rounded-bold-5871d05ead8de.otf
05_TS_featureExtraction/Plot_for_multiplot.ipynb

